@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero_Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Skoda</td>
      <td>1983</td>
      <td>3400</td>
      <td>20</td>
      <td>BIZ493</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mazda</td>
      <td>2010</td>
      <td>150</td>
      <td>40</td>
      <td>RTU243</td>
   
    </tr>
  </tbody>
</table>